<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
        <a href="<%=root_path%>" class='navbar-brand py-2'>
      <span>
         <%=image_tag 'remotetalentsource.svg'%>
      </span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto text-center gap-3">
        <li class="nav-item">
          <%=link_to 'Blogs', root_path, class: "p-2 text-dark nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to 'Services', root_path, class: "p-2 text-dark nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to 'Our Work', root_path, class: "p-2 text-dark nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to 'Clients', root_path, class: "p-2 text-dark nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to 'Careers', root_path, class: "p-2 text-dark nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to 'Contact', root_path, class: "p-2 text-dark nav-link"%>
        </li>
      </ul>

      <!-- Login and Signup Buttons -->
      <div class="d-flex">
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-danger me-2" %>
        <% else %>
          <%= link_to "Get Started", new_user_registration_path, class: "btn btn-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<%= yield %>