<div class="row">
  <div class="col-md-4">
      <h5>About</h5>
        <p class="text-muted small">Tell us about yourself so startups know who you are.</p>
  </div>
<div class="col-md-8 my-2">
<div class="row gy-2 gy-md-2">
  <div class="mb-3">
    <%= form.label :first_name, class: 'form-label' do %> First Name
    <span class="text-danger">*</span>
    <% end %> <%= form.text_field :first_name, autofocus: true, autocomplete:
    "first_name",class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :last_name, class: 'form-label' do %> Last Name
    <span class="text-danger">*</span>
    <% end %> <%= form.text_field :last_name, autofocus: true, autocomplete:
    "first_name",class: 'form-control' %>
  </div>
  <div class="row">
  <div class="col-md-6 mb-3">
    <%= form.label :primary_role_id, class: 'form-label' do %>
      Primary Role <span class="text-danger">*</span>
    <% end %>
    <%= form.select :primary_role_id, PrimaryRole.all.map { |role| [role.name.titleize, role.id] }, {}, class: 'form-control' %>
  </div>
  <div class="col-md-6 mb-3">
    <%= form.label :experience, class: 'form-label' %>
    <%= form.select :experience, Employee::EXPERIENCE.map.with_index { |exp, index| [exp.humanize, index] }, {}, class: 'form-control' %>
  </div>
</div>
  <div class="mb-3">
      <%= form.fields_for :open_roles do |open_role_fields| %>
      <%= form.label :open_roles, class: 'form-label' do %> Open to following roles
    <% end %>
      <%= open_role_fields.collection_select :primary_role_id, PrimaryRole.all, :id, :name, {}, { class: 'form-control' } %>

    <% end %>
  </div>
</div>
</div></div>