<%= form_with(model: employee) do |form| %>
      <%= render partial: 'employee_about', locals: { form: form, employee: employee } %>
      <%= render partial: 'bio', locals: { form: form } %>
      <%= render partial: 'work_preferences', locals: { form: form } %>
      <%= render partial: 'social_link', locals: { form: form } %>
  <div class="d-flex justify-content-end">
      <%= form.submit "Update Profile", class: 'btn btn-block btn-md btn-dark' %>
  </div>
<% end %>
