<div class="row">
  <div class="col-md-4">
      <h5>Social Profiles</h5>
      <p class="text-muted small">Where can people learn more about you and your work?</p>
  </div>

  <div class="col-md-8 my-2">
    <%= form.fields_for :social_link do |social_link_form| %>
      <div class="form-group">
        <%= social_link_form.label :website %>
        <%= social_link_form.text_field :website, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= social_link_form.label :linkedin %>
        <%= social_link_form.text_field :linkedin, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= social_link_form.label :github %>
        <%= social_link_form.text_field :github, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= social_link_form.label :twitter %>
        <%= social_link_form.text_field :twitter, class: "form-control" %>
      </div>
    <% end %>
  </div>
</div>