<div class="row">
  <div class="col-md-4">
    <h5>Work preferences</h5>
    <p class="text-muted small">What kind of work are you looking for next?</p>
  </div>

  <div class="col-md-8 my-2">
    <div class="mb-3">
      <%= form.label :search_status, class: 'form-label' do %>
      <div class="d-flex">Search Status</div>
      <p class="text-sm text-secondary">Select the search status.</p>
      <% end %> <%= form.collection_radio_buttons(:search_status,
      Employee.search_statuses.keys, :to_s, :titleize) do |fs| %>
      <div class="form-check">
        <%= fs.radio_button(class: "form-check-input") %> <%= fs.label(class:
        "form-check-label") do %> <%= fs.text %> <% end %>
      </div>
      <% end %>
    </div>
    <div class="mb-3">
      <%= form.label :role_types, class: 'form-label' do %>
      <div class="d-flex">Role type</div>
      <p class="text-sm text-secondary">
        Select all roles that you would consider taking.
      </p>
      <% end %> <%= form.collection_check_boxes(:role_type_ids, RoleType.all,
      :id, :name) do |fs| %>
      <div class="form-check">
        <%= fs.check_box(class: "form-check-input") %> <%= fs.label(class:
        "form-check-label") do %> <%= fs.text.titleize %> <% end %>
      </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :employee_levels, class: 'form-label' do %>
      <div class="d-flex">Role Level</div>
      <p class="text-sm text-secondary">
        Select all level that you would consider taking.
      </p>
      <% end %> <%= form.collection_check_boxes(:role_level_ids, RoleLevel.all,
      :id, :name) do |fs| %>
      <div class="form-check">
        <%= fs.check_box(class: "form-check-input") %> <%= fs.label(class:
        "form-check-label") do %> <%= fs.text.titleize %> <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
