<button type="submit" form="<%= form_id %>" name="<%= name %>" value="<%= value %>" class="btn btn-primary d-block w-100 text-start px-4 py-2 text-sm cursor-pointer<%= active? ? ' font-medium text-gray-900' : ' font-normal text-gray-700' %> hover:bg-gray-100">
  <%= title %>
</button>
