<% unless true %>
<div class="col-lg-8 mx-auto">
  <div class="box shadow-sm overflow-hidden rounded">
    <%= render Employees::CardComponent.with_collection(@query.records) %>
  </div>
</div>
<% end %>



<div class="container bg-white my-4 shadow-sm overflow-auto rounded">
  <div class="pt-3 px-3 mb-3">
    <div class="d-md-flex justify-content-between align-items-center">
      <% unless false %>
        <h1 class="fs-2 fw-bold text-dark">Hire Ruby on Rails developers</h1>
      <% end %>
      <%= render Employees::ProfileActionComponent.new(current_user) %>
    </div>

    <!-- Sort and mobile filter button -->
    <div class="d-md-flex justify-content-between align-items-center">
      <p class="mt-3 mb-4 text-muted">30+ Ruby on Rails developers looking for their next gig. Juniors to seniors and everyone in between, you'll find them all here.</p>

      <div class="d-none d-md-block">
        <%= render Employees::QuerySortButtonComponent.new(query: @query, user: current_user, form_id: "developer-filters-desktop") %>
      </div>

      <div class="d-flex justify-content-end align-items-center d-md-none">
        <%= render Employees::QuerySortButtonComponent.new(query: @query, user: current_user, form_id: "developer-filters-mobile", scope: "developer-filters-mobile") %>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#filtersMobile" aria-expanded="false" class="btn btn-link text-secondary">

          <span class="visually-hidden"><%= t("developers.query_component.filters") %></span>
        </button>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <!-- Desktop and mobile filters -->
    <div class="col-12 col-md-3 pt-2">
      <div class="d-none d-md-block">
        <%= render 'role_level_filter' %>
      </div>

      <div class="d-md-none">
        <div id="filtersMobile" class="collapse">
          <!-- Developers::QueryMobileComponent -->
        </div>
      </div>
    </div>

    <!-- Paginated list of developers -->
    <div class="col-12 col-md-9 border-start">
      <% if @query.sort == :recommended %>
        <!-- recommended_sort_banner -->
      <% end %>

      <!-- Developers::CountComponent -->

      <% if @query.records.any? %>
        <%= render Employees::CardComponent.with_collection(@query.records) %>

        <% if @paywall_results %>
          <!-- Developers::CardComponent with records -->
          <div class="relative">
             <!-- Developers::CardComponent with random_developers -->
             <!-- SubscriptionCTAComponent -->
           </div>
        <% else %>
          <!-- PagyPaginatorComponent -->
        <% end %>
      <% else %>
        <!-- EmptyStateComponent -->
      <% end %>
    </div>
  </div>
</div>
