<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a href="<%=root_path%>" class="navbar-brand py-2">
      <span> <%=image_tag 'remotetalentsource.svg'%> </span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto text-center gap-3">
        <li class="nav-item">

        </li>
      </ul>

      <!-- Login and Signup Buttons -->
      <div class="d-flex">
        <ul class="navbar-nav mx-auto text-center gap-3">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            <%= render AvatarComponent.new(avatarable: current_user.employee || current_user.company, variant:
              :medium, width: 40, height: 40, data: { "file-upload-target": "image" }, classes: "h-9 w-9 rounded-circle") %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Profile", profile_link, class: "dropdown-item" %>
              </li>
              <li>
              <%= link_to "Account Setting",
              edit_user_registration_path(current_user), data: { turbo_method:
              :delete }, class: "dropdown-item" %></li>
              <li>

                <hr class="dropdown-divider" /></li>
                <li>
              <%= link_to "Logout", destroy_user_session_path, data: {
              turbo_method: :delete }, class: "dropdown-item" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
