<div class="container-fluid bg-light text-center py-5 hero-background">
  <div class="row justify-content-center">
    <div class="col-lg-6 mx-auto">
      <h2 class="py-4 fw-bold mx-auto"><%= t('hero.heading') %></h2>
      <p class="lead mb-4 fw-medium">
        <%= t('hero.subheading') %>
      </p>
      <p class="lead mb-4 fw-medium">
        <%= t('hero.subheading2') %>
      </p>
      <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
        <%= link_to t('hero.hiring_button'), hiring_index_path, class: "btn btn-primary btn-md px-4 gap-3" %>
        <%= link_to t('hero.find_jobs'), talent_jobs_path, class: "btn btn-outline-secondary btn-md px-4" %>
      </div>
    </div>
  </div>
</div>


