<div class="mt-4 d-flex gap-3 md:mt-0">
  <% if update_profile? %>
    <%= link_to edit_employee_path(user.developer), class: "btn btn-primary d-inline-flex align-items-center px-4 py-2 rounded text-white", role: "button" do %>
      <%= inline_svg_tag "icons/solid/pencil.svg", class: "-ms-1 me-2", aria_hidden: true %>
      <%= t(".edit_profile") %>
    <% end %>
  <% else %>
    <%= link_to new_employee_path, class: "btn btn-primary d-inline-flex align-items-center px-4 py-2 rounded text-white", role: "button" do %>
      <%= inline_svg_tag "icons/solid/plus_circle.svg", class: "-ms-1 me-2", aria_hidden: true %>
      <%= t(".add_profile") %>
    <% end %>
  <% end %>
</div>
