<%= form.fields_for :location do |location_form| %>
  <div class="mb-3">
    <%= form.label :address, class: 'form-label' do %> Where are you based?
        <span class="text-danger">*</span>
        <%end%>
    <%= location_form.text_field :address,
                    data: { action: "keydown->places#preventSubmit" },
                    placeholder: "Search a location",
                    class: "form-control",
                    "data-places-target": "address" %>

  </div>
   <div class="row mb-3">
    <div class="col">
      <%= location_form.hidden_field :city,
                              data: { "places-target": "city" },
                              class: "form-control",
                              placeholder: "City Name", readonly: true %>
    </div>
    <div class="col">
      <%= location_form.hidden_field :state, data: { "places-target": "state" }, class: "form-control" , placeholder: "State Name", readonly: true%>
    </div>

    <div class="col">
      <%= location_form.hidden_field :country, data: { "places-target": "country" }, class: "form-control", placeholder: "Country Name", readonly: true %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= location_form.hidden_field :longitude, data: { "places-target": "longitude" }, class: "form-control", readonly: true%>
    </div>
    <div class="col">
      <%= location_form.hidden_field :latitude, data: { "places-target": "latitude" }, class: "form-control", readonly: true%>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $('input[data-places-target="city"]').prop('readonly', true);
  $('input[data-places-target="state"]').prop('readonly', true);
  $('input[data-places-target="country"]').prop('readonly', true);


  // Prevent enabling it via the console
  $('input[data-places-target="city"]').on('input', function() {
    $(this).prop('readonly', true);
  });
  $('input[data-places-target="state"]').on('input', function() {
    $(this).prop('readonly', true);
  });
  $('input[data-places-target="country"]').on('input', function() {
    $(this).prop('readonly', true);
  });
});
</script>