<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <%= render "shared/error_messages", resource: @cold_message.message %>
          <h5 class="card-title">Start a conversation</h5>
          <h6 class="card-subtitle mb-2 text-muted">with
            <%= link_to employee_path(@cold_message.developer), class: "text-decoration-none" do %>
              <%= render AvatarComponent.new(avatarable: @cold_message.developer, variant: :medium, classes: "rounded", width: 50, height: 50, classes: "h-9 w-9 rounded-circle") %>
              <span class="font-medium text-gray-600 group-hover:text-gray-500"><%= @cold_message.developer.name %></span>
            <% end %>
          </h6>
          <div class="my-4">
            <%= form_with model: [@cold_message.developer, @cold_message.message], class: "relative" do |form| %>
              <%= form.text_area :content, placeholder: "Add your message", class: "form-control mb-2", rows: 4 %>
              <div class="d-flex align-items-center mb-2">
                <div class="form-check me-2">
                  <%= form.check_box :agree_terms, class: "form-check-input", id: "agree" %>
                  <%= form.label :agree_terms, "I agree to pay RailsDevs the 10% hiring fee if I hire this developer for a full-time role.", class: "form-check-label", required: true %>
                </div>
                <%= form.submit "Send", class: "btn btn-primary ms-auto" %>
              </div>
            <% end %>
          </div>
          <h6 class="mt-4">Effective Initial Outreach Tips</h6>
          <ul class="list-unstyled">
            <li>1. Tailor your message specifically for the developer. Highlight why their skills and experience are a perfect match for your project.</li>
            <li>2. Discuss compensation, budget, and required experience level upfront to set clear expectations and attract the right talent.</li>
            <li>3. Foster a genuine conversation between you and the developer. Approach the interaction as a professional dialogue between two experts.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
