<div class="container bg-white my-4 shadow-sm overflow-auto rounded">
  <div class="pt-3 px-3 mb-3">
    <div class="d-md-flex justify-content-between align-items-center">
      <h1 class="fs-2 fw-bold text-dark">Find Next Level Jobs</h1>

    </div>

    <!-- Sort and mobile filter button -->
    <div class="d-md-flex justify-content-between align-items-center">
      <p class="mt-3 mb-4 text-muted">
        Looking for the perfect job? Be found by top companies hiring right now.
      </p>

      <div class="d-none d-md-block">
        <%= render Jobs::QuerySortButtonComponent.new(query: @query, user: current_user, form_id: "developer-filters-desktop") %>
      </div>



      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filters</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <%= render 'job_filters' %>
        </div>
      </div>

      <div class="d-flex justify-content-end align-items-center gap-2 d-md-none">

          <button class="btn btn-primary mr-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="fa-solid fa-filter"></i> Filters
          </button>

      </div>
    </div>
  </div>

  <hr>

   <div class="row">
    <!-- Desktop and mobile filters -->
    <div class="col-12 col-md-3 mb-3">
      <div class="d-none d-md-block">
        <%= render partial: 'job_filters' %>
      </div>

      <div class="d-md-none">
        <div id="filtersMobile" class="collapse">

        </div>
      </div>
    </div>

    <!-- Paginated list of developers -->
    <div class="col-12 col-md-9 border-start">
      <% if @query.sort == :recommended %>
        <!-- recommended_sort_banner -->
      <% end %>

      <!-- Developers::CountComponent -->

      <% if @query.records.any? %>


        <% if @paywall_results %>
          <!-- Developers::CardComponent with records -->
          <div class="relative">
             <!-- Developers::CardComponent with random_developers -->
             <!-- SubscriptionCTAComponent -->
           </div>
        <% else %>
          <%= render PagyPaginatorComponent.new(id: "employees", pagy: @query.pagy, url_array: [:employees], container_classes: "divide-y divide-gray-200", options: @query.filters) do |component| %>
            <% component.loading_icon do %>
              <div class="py-4">
                <%= render LoadingComponent.new %>
              </div>
            <% end %>
            <%= render Jobs::CardComponent.with_collection(@query.records.uniq) %>
          <% end %>
        <% end %>
      <% else %>
        <!-- EmptyStateComponent -->
      <% end %>
    </div>
  </div>
</div>
