<div class="container">
  <div class="bg-white shadow rounded-3 overflow-hidden">
    <!-- Placeholder for Cover Image -->
    <div class="ratio ratio-8x8 bg-dark d-none d-md-block"></div>

    <div class="ratio ratio-16x9 bg-dark d-lg-none d-md-none">
      <!-- Content for desktop and larger devices with a 16:9 aspect ratio -->
    </div>

    <!-- Profile Content -->
    <div class="row g-0">
      <!-- Information 1 -->
      <div
        class="col-12 col-md-6 col-lg-8 p-4 position-relative text-center text-md-start"
      >
        <!-- Information 1 content here -->
        <div class="row justify-content-center justify-content-md-start">
          <div
            class="col-12 col-sm-8 col-md-6 col-lg-4 position-absolute top-0 start-0 translate-middle-y p-4"
          >
            <%= render AvatarComponent.new(avatarable: employee, variant:
            :medium, data: { "file-upload-target": "image" }) %>
          </div>
          <div class="col-12 col-md-12 mt-5 pt-2">
            <h1 class="fw-bold fs-4 py-4"><%= employee.heading%></h1>
            <h5 class="fw-bold fs-4 py-2">
              <%= employee.first_name%> <%= employee.last_name%>
            </h5>
            <p class="text-muted"><b>Primary Role:</b>
              <%= employee.primary_role.name.humanize%>
            </p>
            <p class="text-muted"><b>Experience:</b> <%= Employee::EXPERIENCE.key(employee.experience.to_i) %></p>

            <%= render Employees::SocialLinkComponent.new(employee.social_link&.github, :github) %>
            <%= render Employees::SocialLinkComponent.new(employee.social_link&.linkedin, :linkedin) %>
            <%= render Employees::SocialLinkComponent.new(employee.social_link&.twitter, :twitter) %>
            <%= render Employees::SocialLinkComponent.new(employee.social_link&.website, :website) %>
            <%= render Employees::SocialLinkComponent.new(employee&.scheduling_link, :calendar) %>
          </div>
        </div>
        <div
          class="row justify-content-center justify-content-md-start my-5 d-none d-sm-block"
        >
          <%= @employee.bio %>
        </div>
      </div>

      <!-- Information 2 -->
      <div
        class="col-12 col-md-6 col-lg-4 p-4 order-md-2 order-lg-2 border-start d-flex flex-column gap-3"
      >
        <!-- Information 2 content here -->
        <div class="d-flex align-items-center">
          <%= render Employees::SearchStatusComponent.new(employee: employee) %>
        </div>

        <hr />

        <h6 class="text-secondary fw-medium">Interested in roles</h6>


        <%- employee.role_types.each do |role_type| %>
          <div class="d-flex align-items-center">
            <i class="fas fa-check-circle" title="Full-time employment"></i>
            <span class="fw-medium ms-2"><%=role_type.name.humanize%></span>
          </div>
        <%end%>

         <%- employee.role_levels.each do |role_level| %>
          <div class="d-flex align-items-center">
            <i class="fas fa-check-circle" title="Full-time employment"></i>
            <span class="fw-medium ms-2"><%=role_level.name.humanize%></span>
          </div>
        <%end%>

        <hr />

        <h6 class="text-secondary fw-medium">Open Roles</h6>
        <div class="row">
          <div class="col">
            <%- employee.primary_roles.each do |primary_role| %>
              <span class="badge rounded-pill bg-dark"><%= primary_role.name%></span>
            <% end %>
          </div>
        </div>

        <hr />
        <h6 class="text-secondary fw-medium">Skills</h6>

        <div class="row">
          <div class="col">
            <%- employee.skills.each do |skill| %>
              <span class="badge rounded-pill bg-dark"><%= skill.name%></span>
            <% end %>
          </div>
        </div>

        <hr />
        <!-- Location -->
        <%= render Locations::Component.new(@employee.location) %>
        <!-- Timezone -->
        <%= render Locations::TimeZoneComponent.new(@employee.location) %>

      </div>
    </div>

    <!-- Information 3 -->
    <div
      class="col-12 col-lg-8 p-4 bg-light order-md-3 order-lg-3 d-lg-none d-md-none"
    >
      <!-- Information 3 content here -->
      <%= employee.bio%>
    </div>
  </div>
</div>