<div class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="text-center mb-5">
                <h5>What you are looking for?</h5>
              </div>
            </div>
          </div>
          <ul class="nav nav-pills flex-column flex-sm-row justify-content-between" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">I WANT TO WORK</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">I WANT TO HIRE</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="card py-3 mt-5">
              <div class="card-body">
                <h5 class="card-title">Looking for work?</h5>
                <p class="card-text">You need to provide some information, that will help us to find better opportunity for you, by clicking continue you are agree to provide information.</p>

                <%= form_for(@employee, url: additional_information_path, method: :post) do |f|%>
                <%= render "shared/error_messages", resource: @employee %>
                  <div class="row gy-3 gy-md-4 ">
                    <div class="col-12">
                      <%= f.label :first_name, class: 'form-label' do %>
                        First Name <span class="text-danger">*</span>
                      <% end %>
                      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: 'form-control' %>
                    </div>

                    <div class="col-12">
                      <%= f.label :last_name, class: 'form-label' do %>
                        Last Name <span class="text-danger">*</span>
                      <% end %>
                      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: 'form-control' %>
                    </div>

                    <div class="col-12">
                      <%= f.label :primary_role_id, class: 'form-label' do %>
                        Primary Role <span class="text-danger">*</span>
                      <% end %>
                       <%= f.collection_select :primary_role_id, PrimaryRole.all, :id, :name, { prompt: 'Select a role' }, class: 'form-control' %>
                    </div>
                    <div class="col-12">
                    <div class="d-grid">
                        <%= f.submit "Continue", class: 'btn btn-primary btn-md' %>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>

            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
              <div class="card py-3 mt-5">
                <div class="card-body">
                  <h5 class="card-title">Looking for hire someone?</h5>
                  <p class="card-text">You need to provide some information, that will help us to find better opportunity for you, by clicking continue you are agree to provide information.</p>
                  <a href="#" class="btn btn-primary">Contninue</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
