<!DOCTYPE html>
<html>
  <head>
    <title>Remote Talent Sourcing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link href="https://fonts.googleapis.com/css2?family=Castoro&family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9Gmt2KbnoEv6gjdUae0Viu9LRihAXuzg&callback=initAutocomplete&libraries=places&v=weekly"
      defer
    ></script>


  </head>

  <body class="sb-nav-fixed bg-light ">
    <%= render partial: 'shared/header/header' %>
  </body>
</html>
